<div>Ödeme ve Teslimat</div>
<div><br />
</div>
<div>1) Banka Havalesi veya EFT (Elektronik Fon Transferi) yaparak</div>
<div>XX bankası hesaplarımızdan (TL) herhangi birine yapabilirsiniz</div>
<div><br />
</div>
<div>2) Sitemiz üzerinden kredi kartlarınız ile</div>
<div>Her türlü kredi kartınıza online tek ödeme imkânlarımızdan yararlanabilirsiniz. Online ödemelerinizde siparişiniz sonunda kredi kartınızdan tutar çekim işlemi gerçekleşecektir. Muhtemel sipariş iptali  nedeniyle sipariş iptallerinde kredi kartınıza para iadesi 3 iş günü içerisinde yapılacaktır.</div>
<div><br />
</div>
<div>3) Sipariş Bedeli İadesi&nbsp;</div>
<div>Siparişlerinizin olası sebeplerle iptali durumunda; XXXXXX Limited Şirketi üç iş günü içerisinde ürün bedelini hesabınıza ve/veya kredi kartınıza iade eder. Ancak, banka hesap bilgilerinizi ve/veya kredi kartı bilgilerinizi doğru ve eksiksiz olarak şirketimiz finans yetkililerine bildirmeniz gerekmektedir.&nbsp;</div>
<div><br />
</div>
<div>4) Teslimat&nbsp;</div>
<div>Sipariş etmiş olduğunuz ürün ödeme onaylandıktan sonra hesabınıza otomatik eklenmektedir.&nbsp;</div>
<br/>
</div>
<div>5) Ödeme Takibi&nbsp;</div>
<div>Söz konusu sistem herhangi bir sorun nedeni ile işlemi gerçekleştiremiyorsa ödeme sayfası sonucunda ziyaretçimiz bu durumdan haberdar edilmektedir.&nbsp;</div>

<div><br />